.batMain{
	text-align: center;
	.title{
		text-align: center;
		font-size: 22px;
		font-weight: bold;
	}
	.title2{
		text-align: center;
		font-size: 22px;
		font-weight: bold;
		margin-top: 40px;
		margin-bottom: 30px;
	}
  	.instruction{
		
		.info{
			width: 90%;
			margin: 0 auto;
			display: flex;
			justify-content: space-evenly;

			div{
				text-align: center;
				p{
					font-size: 20px;
					margin-bottom: 5px;
				}
				i{
					font-size: 110px;
					background-color: #ddd;
					width: 180px;
					height: 180px;
					text-align: center;
					line-height: 180px;
				}				
			}	

			div:nth-child(1){
				i{
					color: rgb(255,191,116);
				}
			}
			div:nth-child(2){
				i{
					color: rgb(128,128,128)
				}
			}
			div:nth-child(3){
				i{
					color: rgb(244,234,42)
				}
			}
		}
        
  	}

	.palyer{
		display: flex;
		justify-content: space-between;
		p{
			text-align: left;
			font-size: 18px;
			font-weight: bold;
			margin-bottom: 15px;
		}
		.info{
			width: 100%;
		}
		.showInfo{
			width: 99%;
			background-color: #ddd;
			border-radius: 8px;			
			height: 90px;
			text-align: left;
			line-height: 90px;
			box-sizing: border-box;
			padding: 0 20px;
			
			img{
				width: 60px;
				height: 60px;
				margin-bottom: 10px;
				border-radius: 5px;
			}

			span{
				font-size: 24px;
				margin-left: 10px;
				color: rgb(24,144,255);
			}
			.delete{
				font-size: 19px;
				width: 30px;
				height: 30px;
				text-align: center;
				line-height: 30px;
				border-radius: 50%;
				background-color: rgb(245,34,45);
				color: white;
				float: right;
				margin-top: 30px;
			}
			.delete:hover{
				cursor: pointer;
			}
		}

		div{
			width: 50%;	

			input{
				border: 1px #ccc solid;
				height: 35px;
				width: 60%;
				box-sizing: border-box;
				padding-left: 10px;
			}
			Button{
				margin-left: 3%;
				width: 34%;
				height: 35px;
			}
		}		
	}
	
	.battle{
		margin-top: 50px;
		width: 100px;
		height: 35px;
		font-weight: bold;
	}

}