
.banner {
	width: 75%;
	margin: 20px auto;
	font-size: 18px;

	a{
		text-decoration: none;
		color: black;
		font-weight: bold;
	}
	a:hover{
		text-decoration: underline;
		color: red;
	}
}

.main{
	width: 75%;
	margin: 0 auto;
}

footer{
	width: 75%;
	text-align: center;
	margin: 0 auto;
	margin-top: 50px;
    background-color: #ddd;
    line-height: 40px;
    height: 40px;
    font-size: 14px;
}