.resultInfo{
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  
  .resultDiv{
      margin-top: 20px;
      background-color: #ddd;
      // height: 380px;
      width: 240px;
      box-sizing: border-box;
      padding: 20px 0;
      img{
          width: 120px;
      }
      .titleWin{
          font-size: 22px;
          margin-bottom: 10px;
          font-weight: bold;
          margin-top: 10px;
      }

      .score{
          font-size: 18px;
          margin-top: 20px;
          margin-bottom: 0;
      }
      .name{
          font-size: 20px;
          font-weight: bold;
          margin-top: 10px;
          margin-bottom: 0;
          color: rgb(24,144,255);
      }
      div{
          margin-top: 15px;
          text-align: left;
          box-sizing: border-box;
          padding-left: 50px;
      }
  }
}

.btnReset{
  margin-top: 50px;
  height: 40px;
  width: 100px;
  font-size: 18px;
  margin-bottom: 50px;
}
